<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Authentication</h2>

  <div class="form-control">
    <label for="email">Enter your email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="!form.get('email').value">Email is required; </small>
      <small *ngIf="form.get('email').errors.notAllowedEmails">Supports only .com, .net, .org, .co, .us domains; </small>
      <small *ngIf="form.get('email').errors.notAllowedDots">Allowed only 3 dots; </small>
      <small *ngIf="form.get('email').errors.notAllowedLength">Allowed only 5 characters after @; </small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Enter your password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation"
         *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="!form.get('password').value">Password is required; </small>
      <small *ngIf="form.get('password').errors.minlength">Password should be at least 5 characters length; </small>
      <small *ngIf="form.get('password').errors.pattern">
        Password should contain: at least one uppercase letter, one number, one special symbol. $ % . & ! -;
      </small>
    </div>
  </div>

  <div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >Sign in
    </button>

    <button
      class="btn btn-primary"
    >Create New User
    </button>
  </div>
</form>
