<form class="card" [formGroup]="form">
  <h2>Authentication</h2>

  <div class="form-control">
    <label for="email">Enter your email:</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="invalidFieldService.showInvalidEmailMessage(form)">{{ invalidFieldService.invalidEmailMessage }}</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Enter your password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="invalidFieldService.showInvalidPasswordMessage(form)">{{ invalidFieldService.invalidPasswordMessage }}</small>
    </div>
  </div>

  <div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid || submitted"
      (click)="submit()"
    >Sign in
    </button>

    <button
      class="btn btn-primary"
      routerLink="/registration"
    >Create New User
    </button>
  </div>
</form>
