<form class="card">

  <div class="form-control">
    <label for="email">Enter your email:</label>
    <input id="email" type="email">
    <div class="validator">
      <small>Error message</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Enter your password:</label>
    <input id="password" type="password">
    <div class="validator">
      <small>Error message</small>
    </div>
  </div>

  <div>
    <button
      type="submit"
    class="btn btn-primary"
    >Sign in</button>
    <button
    class="btn btn-primary"
    >Create New User</button>
  </div>
</form>
