<form class="card" [formGroup]="form">
  <h2>Create New User</h2>

  <div class="form-control">
    <label for="userName">Enter your full name</label>
    <input id="userName" type="text" formControlName="name">
    <div class="validation" *ngIf="invalidFieldService.isTouchedField(form, 'name')">
      <small *ngIf="invalidFieldService.showInvalidNameMessage(form)">{{ invalidFieldService.invalidNameMessage }}</small>
    </div>
  </div>

  <div class="form-control">
    <label for="email">Enter your email:</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="invalidFieldService.isTouchedField(form, 'email')">
      <small *ngIf="invalidFieldService.showInvalidEmailMessage(form)">{{ invalidFieldService.invalidEmailMessage }}</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Enter your password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="invalidFieldService.isTouchedField(form, 'password')">
      <small *ngIf="invalidFieldService.showInvalidPasswordMessage(form)">{{ invalidFieldService.invalidPasswordMessage }}</small>
    </div>
  </div>

  <div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid || submitted"
      (click)="createUser()"
    >Create new User
    </button>

  </div>
</form>

